<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="A cool thing made with Glitch">

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!-- import the webpage's client-side javascript file -->
  <script src="/client.js" defer></script>
</head>

<body>

  <header class="header">

    <div class="header__inner-container">

      <div class="header__inner">

        <div class="header__title">

          <h1>Portfolio</h1>

        </div>
        <nav class="header__navbar">

          <ul class="header__navbar-links">

            <li><a href="index.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>

          </ul>

        </nav>

      </div>

    </div>

  </header>
    
    <main class="main">
      
      <div class="main__inner">
        
        <ul>
          
          <li>Discord: Tayo#4795</li>
          <li>Email me @ eyitayo@adedeji.com</li>
          
        </ul>
        
      </div>
      
    </main>
    <footer class="footer">

    <div class="footer__inner-container">

      <div class="footer__inner">

        <div class="footer__copyright">Copyright Junk</div>

        <nav class="footer__nav">
          <a href="https://twitter.com/et127_" class="footer__nav-link">
            <img src="https://img.icons8.com/color/48/000000/twitter-squared.png">
          </a>
        </nav>

      </div>

    </div>

  </footer>

  </body>
</html>
