<!DOCTYPE html>

<html>
  
  <head>
    <title>Projects</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    
    <header class="header">
      <div class="header__inner">
        
        <div class="header__title">
          
          <h1>Portfolio</h1>
          
        </div>
        <nav class="header__navbar">
            
          <ul class="header__navbar-links">
              
            <li><a href="index.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about.html">About Me</a></li>
              
          </ul>

        </nav> 
        
      </div>
      
    </header>
    
    <main class="main">
      
      <div class="main__inner">
        
        <ul>
          
          <li><a href="https://et127.itch.io/">Itch.io Page</a></li>
          
        </ul>
        
      </div>
      
    </main>
    <footer class="footer">
      
      <div class="footer__inner">
        
        <span>Copyright Junk</span>
        <span>Other Things</span>
        
      </div>
      
    </footer>

  </body>
  
</html>