/* styles */
/* called by your view template */

:root{
  
  --main-text-color: #83D0F2;
  --main-color: rgb(34, 34, 2);
  
}

* {
  box-sizing: border-box;
}

body {
  
  font-family: 'Roboto';
  
  margin: 0 auto;
  
}

header {
  
  
  
}

main {
  
  
  
}

footer {
  
  
  
}

.header__inner {
  
  margin: 0 auto;
  color: var(--main-text-color);
  background-color: var(--main-color);
  
}

.header__navbar {
  
  display:block;
  width:;
  
}

.header__navbar-links {
  
  list-style-type: none;
  margin: 0;
  padding:0;
  
}

.header__navbar-links > ul{
  
    display:flex;
    flex-wrap: wrap;
    width:25%;
  
}

.header__navbar-links > li{
 
  display:block;
  
}

.header__inner, .header__navbar {
  
  text-align: center;
  
}


.footer__inner {
  
  margin: 0 auto;
  color: var(--main-text-color);
  background-color: var(--main-color);
  
}

