/* styles */
/* called by your view template */

:root{
  
  --main-text-color: #83D0F2;
  --main-color: rgb(34, 34, 2);
  
}

* {
  box-sizing: border-box;
}

body {
  
  font-family: 'Roboto';
  
  margin: 0 auto;
  
}

header {
  
  
  
}

main {
  
  margin: auto 15%;
  
}

.header {
  
  position: fixed;
  top:0;
  width:100%;
  text-align: center;
  display:inline;
  background-color: var(--main-color);
  
}

.header__inner {
  
  margin: 0 auto;
  color: var(--main-text-color);
  
  
}

.header__navbar {
  
  display:block;
  width:;
  
}

.header__navbar-links {
  
  list-style-type: none;
  margin: 0;
  padding:0;
  
}

.header__navbar-links > ul{
  
    display:flex;
    flex-wrap: wrap;
  
}

.header__navbar-links li{
 
  display:inline;
  
}

.header__inner, .header__navbar {
  
  text-align: center;
  
}

.footer {
  
  position: fixed;
  bottom:0;
  width:100%;
/*   text-align: center; */
  background-color: var(--main-color);
  
}



.footer__copyright-quote > p{
  
  
  
}

.footer__copyright-quote {

  display:inline;
  padding: 7px 8px 9px 10px;
  
}

.footer__twitter {
  
    display:inline;
  
}

.footer__inner {
  
  margin: 0 auto;
  color: var(--main-text-color);
  flex-wrap: wrap;

  
}

